.about {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: url("../../assets/images/hero-bg/hero-bg-sm.jpg") no-repeat center;
  background-size: cover;
  #hero-bg-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.6);
    outline: 1px solid $abs-white;
    outline-offset: -1rem;
  }
  &-info {
    color: #eee;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 70%;
    margin: auto;
    position: relative;
    justify-content: space-between;
    width: 100%;

    &-title {
      display: flex;
      flex-direction: column;
      height: 40%;
      justify-content: space-between;
      h1 {
        font-size: 4rem;
        letter-spacing: 2px;
      }
      div {
        font-size: 2.5rem;
        letter-spacing: 1px;
        span {
          opacity: 0.8;
          color: $accentColor;
        }
        p:last-of-type {
          padding: 0.5rem 0 1.5rem 0;
          position: relative;
          &::after {
            content: "";
            width: 50%;
            height: 3px;
            background-color: $accentColor;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 370px;
          }
        }
      }
      & > p:last-child {
        width: 80%;
        margin: 0 auto;
        font-size: 1.6rem;
      }
    }
    &-body {
      position: absolute;
      bottom: -15%;
      font-size: 1rem;
      text-align: left;
      padding-left: 1.1rem;
      max-width: 85%;
      p:first-of-type {
        margin-bottom: 0.5rem;
      }
      strong {
        color: $accentColor;
      }
    }
    &-btns {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      max-width: 30rem;
      margin: auto;
    }
  }
}

#projects-btn {
  border: 2px solid $accentColor;
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
  color: $abs-white;
  background-color: darken($color: #408bdd, $amount: 40%);
  &:hover {
    background-color: darken($color: #408bdd, $amount: 30%);
  }
}
#resume-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $accentColor;
  border-radius: 2rem;
  color: $abs-white;
  background-color: darken($color: #408bdd, $amount: 40%);
  width: 10rem;

  div {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.2rem;
    a {
      width: 49.99%;
      padding: 0.2rem 0;
      background-color: darken($color: #408bdd, $amount: 30%);
      &:hover {
        background-color: $accentColor;
      }
    }
    a:first-of-type {
      border-radius: 0 0 0 1.75rem;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: $accentColor;
    }
    a:last-child {
      border-radius: 0 0 1.75rem 0;
      border-width: 1px 0 0 1px;
      border-style: solid;
      border-color: $accentColor;
    }
  }
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../../assets/images/hero-bg/hero-bg-sm-med.jpg");
    &-info {
      width: 90%;
      text-align: left;
      height: 55rem;

      div p:last-of-type::after {
        width: 80%;
        margin: 0;
      }
      p:last-child {
        margin: 0;
      }
      &-body {
        position: static;
        display: block;
        padding: 0 0 3rem 0;
        font-size: 1.4rem;
      }
      &-btns {
        width: 100%;
        justify-content: space-around;
        margin: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .about {
    background-image: url("../../assets/images/hero-bg/hero-bg-med.jpg");
  }
}
@media (min-width: 1500px) {
  .about {
    background-image: url("../../assets/images/hero-bg/hero-bg-med-lg.jpg");
  }
}
@media (min-width: 1800px) {
  .about {
    background-image: url("../../assets/images/hero-bg/hero-bg-lg.jpg");
  }
}

@media (min-width: 2500px) {
  #resume-btns-container div {
    a:first-of-type {
      border-radius: 0 0 0 1.85rem;
    }
    a:last-child {
      border-radius: 0 0 1.85rem 0;
    }
  }
}

@media (min-width: 3000px) {
  .about .about-info {
    margin-top: 8rem;
  }
}
