/**********************
About Page
**********************/
.about-page-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  #frameByFrameImg {
    display: none;
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 180px;
    height: 160px;
    outline: 6px solid $accentColor;
    outline-offset: -6px;
    box-shadow: 1px 1px 10px 1px $abs-black;
  }
  h4 {
    border-left: 8px solid $accentColor;
    width: 70%;
    max-width: 750px;
    padding: 10px;
  }
  section {
    text-align: left;
    margin: 20px auto 2rem 50px;
    width: 70%;
    p:not(:first-of-type) {
      margin-left: 50px;
      margin-top: 1rem;
    }
    em {
      font-weight: 600;
      letter-spacing: 0.3px;
    }
  }

  .quotes {
    display: flex;
    justify-content: space-between;
    blockquote {
      width: 45%;
      cite {
        display: block;
      }
    }
    blockquote:first-of-type {
      text-align: right;
    }
    #quote-sep {
      border-right: 4px solid $accentColor;
    }
  }
}
