/**********************
Contact Page
**********************/
.contact-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  width: 100%;
  article {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.7;
      }
    }
    svg {
      background-color: $accentColor;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      padding: 10px;
      color: #fff;
    }
  }
}
