/**********************
Skills/Projects Page
**********************/
.experience-page {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

/************************
Skills Section
************************/
.skills {
  /* Main layout of skills */
  border-bottom: 2px solid $accentColor;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: fit-content;

  /* Skills Lists */
  ul:not(.panel) {
    display: flex;
    position: relative;
    justify-content: space-around;
    &::before {
      content: attr(title);
      position: absolute;
      top: -5px;
      font-size: 1.2rem;
      font-weight: 600;
      color: $accentColor;
    }
    li {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 20px 0;
      height: 70px;
      img {
        width: 40px;
        margin-right: 10px;
      }
    }
  }
}

/* Dropdown Button */
.skills-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  .skills-inprogress {
    width: 100%;
  }
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  position: relative;
  width: 100%;

  button {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: $accentColor;
    cursor: pointer;
    svg {
      width: 10px;
      margin-left: 10px;
      transition: transform 0.3s linear;
    }
  }
  /* Dropdown Explanation */
  .panel {
    position: absolute;
    right: 0;
    left: 0;
    top: 70%;
    margin: auto;
    height: 0;
    width: 90%;
    max-width: 500px;
    overflow: hidden;
    transition: all 0.3s linear;
    background-color: $shade3;
    outline: 1px solid $abs-black;
    outline-offset: -5px;

    border-radius: 5px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    li:not(:last-of-type) {
      list-style-type: circle;
      list-style-position: inside;
      padding-left: 5px;
      padding-bottom: 5px;
    }
  }
  /* When panel is open */
  .panel-open {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }
  .rotate-chevron {
    transform: rotateZ(450deg);
  }
}

/************************
Projects Section
************************/
