/**********************
Skills/Projects Page
**********************/
.experience-page {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

/************************
Skills Section
************************/
.skills {
  /* Main layout of skills */
  border-bottom: 2px solid $accentColor;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  &-fundamentals,
  &-additional,
  &-learning {
    width: 33%;
  }
  /* Skills Lists */
  ul:not(.panel) {
    &::before {
      content: attr(title);
      font-size: 1.2rem;
      font-weight: 600;
      color: $accentColor;
    }
    li {
      display: flex;
      align-items: center;
      margin: 20px 0;
      height: 70px;
      img {
        width: 50px;
        margin-right: 10px;
      }
    }
  }
}

/* Dropdown Button */
.skills-learning {
  position: relative;
}
.dropdown {
  position: absolute;
  left: -50px;
  // width: 120%;
  button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    border: none;
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: $accentColor;
    cursor: pointer;
    svg {
      transition: transform 0.3s linear;
    }
  }
  /* Dropdown Explanation */
  .panel {
    position: absolute;
    right: -25px;
    height: 0;
    width: 475px;
    overflow: hidden;
    transition: all 0.3s linear;
    background-color: $shade3;
    outline: 1px solid $abs-black;
    outline-offset: -5px;
    border-radius: 5px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    li:not(:last-of-type) {
      list-style-type: circle;
      list-style-position: inside;
      padding-left: 5px;
      padding-bottom: 5px;
    }
  }
  /* When panel is open */
  .panel-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 200px;
  }
  .rotate-chevron {
    transform: rotateZ(450deg);
  }
}

/************************
Projects Section
************************/
