/**********************
Navbar
**********************/

.nav-container {
  position: relative;

  #hat-icon {
    position: absolute;
    top: -60px;
    left: -40px;
    font-size: 140px;
    transform: rotateY(180deg);
    mix-blend-mode: multiply;
    z-index: 2;
  }
  &::after {
    content: "";
    width: 86px;
    height: 34px;
    background-color: $accentColor;
    position: absolute;
    top: -21px;
    left: -18px;
    border-radius: 50%;
    transform: rotateZ(-13deg);
    z-index: 1;
  }
}
/* Navbar content */
.nav {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: center;

  &-header {
    height: 30%;
    padding-top: 40%;
    letter-spacing: 2px;
    text-align: center;
    h2 {
      padding-bottom: 0.8rem;
      span {
        display: block;
      }
    }
    p {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $accentColor;
      }
    }
  }
  &-pages {
    height: 50%;
    width: 100%;
    ul {
      display: flex;
      flex-flow: column nowrap;
      font-size: 1.4rem;
      li {
        border-right: 6px solid transparent;
        width: 100%;
        transition: all 0.2s linear;
        &:hover {
          padding-left: 10px;
        }
        a {
          padding: 15px 25px;
          background: none;
          border: none;
          display: block;
          i {
            font-style: normal;
            display: flex;
            align-items: center;
            svg {
              font-size: 26px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .current-page {
      background-color: $shade1;
      border-right-color: $accentColor;
    }
  }
  &-socials {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      margin: auto;
      li:hover {
        opacity: 0.7;
        transform: scale(0.98);
      }
      li:last-of-type a {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-size: 8px;
          color: $accentColor;
        }
      }
      svg {
        font-size: 26px;
        color: $accentColor;
      }
    }
    button {
      height: 70px;
      background-color: $accentColor;
      border: 4px solid $shade2;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: $textColor;
      cursor: pointer;
      transform: all 0.3s linear;
      &:hover {
        background-color: $textColor;
        color: $accentColor;
      }
    }
  }
}
