.nav-container {
  width: 100%;
}
.navbar {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  transition: all 0.3s linear;
  height: 5rem;
  color: #fff;

  //Navbar After Scroll Threshold (150px)
}
.navbar-fixed {
  position: fixed;
  width: 100%;
  background-color: #172b4d;
  z-index: 7;
}

.navbar-content {
  @extend %container-max-width;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    font-family: $ff-signature;
    font-weight: 100;
    font-size: 2.5rem;
    width: 90%;
  }
}

//Mobile-first Navbar responsiveness
.navbar .socials {
  @extend %socials-navbar;
  display: none;
}
#open-menu-btn {
  width: 10%;
  z-index: 5;
  color: white;
  background-color: transparent;
  border: none;
  padding-top: 0.5rem;
  cursor: pointer;
  svg {
    font-size: 1.8rem;
  }
}

/* Dropdown menu < 992px */
.navbar-dropdown {
  width: 93vw;
  margin: 0.7rem;
  height: auto;
  position: absolute;
  top: 0rem;
  right: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;

  //Signature + X btn
  div:first-of-type {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-family: $ff-signature;
      font-weight: 600;
      font-size: 2.5rem;
      color: #172b4d;
      width: 80%;
    }
    #close-menu-btn {
      width: 5%;
      background-color: transparent;
      border: none;
      display: grid;
      place-items: center;
      font-size: 1.2rem;
      color: #172b4d;
      cursor: pointer;
    }

    /* Separation line */
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -1rem;
      left: 0;
      background-color: #ddd;
    }
  }

  // Socials
  div:last-child ul {
    margin-top: 1.5rem;
    li {
      padding: 0.5rem;
      a {
        display: flex;
        align-items: center;
        color: #172b4d;

        svg {
          margin-right: 0.5rem;
          padding-bottom: 2px;
          font-size: 1.2rem;
        }
      }
    }
  }
}
.navbar-dropdown-open {
  position: fixed;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 50px 100px rgba($color: #32325d, $alpha: 0.1),
    0 15px 35px rgba($color: #32325d, $alpha: 0.15),
    0 5px 15px rgba($color: #000000, $alpha: 0.1);
  animation: show-navbar-collapse 0.2s ease forwards;
  z-index: 9;
}

@media (min-width: 992px) {
  /* Navbar responsive */
  #open-menu-btn {
    display: none;
  }
  .navbar-dropdown-open {
    display: none;
  }
  .navbar .socials {
    //Show socials, see config
    display: flex;
  }
}

/* Navbar dropdown panel animation */
@keyframes show-navbar-collapse {
  0% {
    opacity: 0;
    transform: scale(0.95);
    transform-origin: 100% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide-navbar-collapse {
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: 100% 0;
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

/* Scroll to top button */
@import "./partials/scrollTop";
