.navbar {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  transition: all 0.3s linear;
  height: 5rem;
  color: #fff;

  &-content {
    @extend %container-max-width;
    width: 80vw;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-family: $ff-signature;
      font-weight: 100;
      font-size: 2.5rem;
      width: 90%;
    }
  }

  //Navbar After Scroll Threshold (150px)
  &-fixed {
    position: fixed;
    width: 100%;
    background-color: #172b4d;
    z-index: 7;
  }
}

//Mobile-first Navbar responsiveness
.navbar .socials {
  @extend %socials-navbar;
  display: none;
}
#open-menu-btn {
  width: 10%;
  z-index: 5;
  color: white;
  background-color: transparent;
  border: none;
  padding-top: 0.5rem;
  cursor: pointer;
  svg {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  /* Navbar responsive */
  #open-menu-btn {
    display: none;
  }
  .navbar-dropdown-open {
    display: none;
  }
  .navbar .socials {
    //Show socials, see config
    display: flex;
  }
}

@import "./partials/dropdown";
@import "./partials/scrollTop";
