/* About Page (Hero) */
.about {
  position: relative;
  width: 100%;
  padding: 6rem 0;

  &-content {
    @extend %container-max-width;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    /* About Page Text */
    article {
      color: #fff;
      h1 {
        font-size: 2rem;
      }
      p {
        line-height: 1.75;
        font-size: 1.25rem;
        padding: 1.75rem 0 3rem 0;
        width: 100%;
      }
      .socials {
        #colored-socials {
          @extend %socials-colored;
        }
        #hero-resume-btn {
          @extend %hero-resume-btn;
        }
      }
    }
    figure {
      width: 75%;
      max-width: 40rem;
      margin: 8rem auto;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 20%;
        right: 25px;
        left: 0;
        margin: auto;
        width: 25%;
        height: 35%;
        background-color: rgb(2, 15, 87);
        z-index: -1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@import "./partials/hero-bg";

@media (min-width: 992px) {
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12rem;

    article {
      width: 50%;
    }
    figure {
      width: 45%;
      margin: auto 0;
    }
  }
}
