/**********************
Config
**********************/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Waterfall&display=swap");
$ff-primary: sans-serif;
$ff-signature: "Waterfall", cursive;

%container-max-width {
  width: 92%;
  max-width: 35rem;
  margin: 0 auto;
}
%section-header {
  header {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    span {
      background-color: #fff;
      border-radius: 50%;
      color: #11cdef;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      margin-right: 1.3rem;
      box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
    }
    h2 {
      font-size: 2rem;
    }
  }
}

%hero-resume-btn {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 0.75rem 0.2rem;
  font-weight: 600;
  border-radius: 3px;
  align-items: center;
  justify-content: space-evenly;
  width: 11.5rem;
  box-shadow: 0 7px 10px rgba($color: #000000, $alpha: 0.3);
  svg {
    font-size: 1.2rem;
  }
  span {
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

%socials-colored {
  display: flex;
  width: 12rem;
  color: white;
  justify-content: space-around;
  a {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 0.75rem;
    margin-bottom: 1.2rem;
    box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.3);
    cursor: pointer;

    svg {
      font-size: 1.2rem;
    }

    &:first-child {
      background-color: #222;
    }
    &:nth-child(2) {
      background-color: #1da1f2;
    }
    &:nth-child(3) {
      background-color: #e4405f;
    }
    &:nth-child(4) {
      background-color: rgb(168, 78, 168);
    }
  }
}
%socials-navbar {
  width: 20%;
  max-width: 12rem;
  z-index: 5;
  div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    svg {
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
}

%button-shadow {
  box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.3);
}
%card-shadow {
  box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.5);
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  %container-max-width {
    max-width: 50rem;
  }
  .about .about-content article {
    max-width: 45rem;
  }
}
@media (min-width: 992px) {
  %container-max-width {
    max-width: 55rem;
  }
}
@media (min-width: 1200px) {
  %container-max-width {
    max-width: 60rem;
  }
}
