/**********************
Config
**********************/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Waterfall&display=swap");
$ff-primary: sans-serif;
$ff-signature: "Waterfall", cursive;

%container-max-width {
  width: 94%;
  max-width: 65rem;
  margin: 0 auto;
}

%hero-resume-btn {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 0.75rem 0.2rem;
  font-weight: 600;
  border-radius: 3px;
  align-items: center;
  justify-content: space-evenly;
  width: 11.5rem;
  box-shadow: 0 7px 10px rgba($color: #000000, $alpha: 0.3);
  svg {
    font-size: 1.2rem;
  }
  span {
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

%socials-colored {
  display: flex;
  width: 20rem;
  color: white;
  a {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 0.75rem;
    margin-bottom: 1.2rem;
    box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.3);
    cursor: pointer;

    svg {
      font-size: 1.2rem;
    }

    &:first-child {
      background-color: #222;
    }
    &:nth-child(2) {
      background-color: #1da1f2;
    }
    &:nth-child(3) {
      background-color: #e4405f;
    }
    &:nth-child(4) {
      background-color: rgb(168, 78, 168);
    }
  }
}
%socials-navbar {
  width: 20%;
  max-width: 12rem;
  z-index: 5;
  div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    svg {
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 992px) {
  // %container-max-width {
  //   width: 90vw;
  //   max-width: 80rem;
  //   margin: 0 auto;
  // }
}
