@import "./config";

/**********************
Main CSS (General tags)
**********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: $ff-primary;
  overflow-x: hidden;
}

.pages {
  overflow: hidden;
}

//Remove default <a> styles
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:visited {
    color: inherit;
  }
}
//Remove list bullet points
li {
  list-style-type: none;
}

/***************************************
Navbar, nav-dropdown, nav-buttons, scrollToTop 
****************************************/
@import "./containers/navigation/navigation";

/***************************************
Hero Page
****************************************/
@import "./containers/about/about";

/***************************************
Skills-Section
****************************************/
@import "./containers/skills/skills";

/***************************************
Projects-section
****************************************/
@import "./containers/projects/projects";

/***************************************
Education-section
****************************************/
@import "./containers/education/education";

/***************************************
Contact-footer-section
****************************************/
@import "./containers/contact/contact";
