/**********************
Config
**********************/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap");
body.dark {
  --bgColor: #121212;
  --textColor: #eee;
  --accentColor: #fd7014;
  --shade1: #222832;
  --shade2: #393e46;
  --shade3: #484d55;
}

body.light {
  --bgColor: #fafafa;
  --textColor: #484b6a;
  --accentColor: #408bdd;
  --shade1: #e4e5f1;
  --shade2: #d2d3db;
  --shade3: #9394a5;
}

/**********************
Main CSS (General tags)
**********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  transition: all 0.3s linear;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

p,
li,
a {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  width: 200px;
}
