/**********************
Config
**********************/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap");
body.dark {
  --bgColor: #121212;
  --textColor: #eee;
  --accentColor: #fd7014;
  --shade1: #222832;
  --shade2: #393e46;
  --shade3: #484d55;
  --opposite: #fff;
}

body.light {
  --bgColor: #fafafa;
  --textColor: #484b6a;
  --accentColor: #408bdd;
  --shade1: #e4e5f1;
  --shade2: #d2d3db;
  --shade3: #9394a5;
  --opposite: #000;
}

/**********************
Main CSS (General tags)
**********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  transition: all 0.3s linear;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  width: 200px;
}

.accent-color {
  color: var(--accentColor);
}

.app {
  position: relative;
}

.theme-toggle-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 9;
}

.theme-toggle-btn img {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.pages {
  width: 100%;
}

.page {
  margin: auto;
  padding: 0 0.5rem;
}

.page header {
  background: linear-gradient(to right, var(--opposite) 0%, var(--accentColor) 10%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.page header h2 {
  letter-spacing: 2px;
}

#selfie-container {
  width: 90%;
  margin: 0 auto;
  height: 70%;
  background: linear-gradient(to right, rgba(255, 50, 50, 0) 0%, rgba(255, 50, 50, 0) 70%, var(--accentColor) 90%, rgba(255, 48, 48, 0) 100%);
  -webkit-text-fill-color: transparent;
  border-radius: 50% 50% 10px 10px;
  overflow: hidden;
  cursor: default;
}

#selfie {
  border-radius: 50% 50% 10px 10px;
  background: url("../../assets/images/me-headshot.png") no-repeat center;
  width: 100%;
  word-spacing: 0px;
  -webkit-background-clip: text;
  background-clip: text;
  height: 100%;
  font-size: 10px;
  line-height: 0.4;
  font-weight: 900;
  letter-spacing: -1px;
  background-size: cover;
  border: 2px solid var(--accentColor);
}

.navbar {
  width: 70%;
  max-width: 20rem;
  height: 100%;
  position: fixed;
  left: 0;
  transition: all 0.3s linear;
  transform: translateX(-100%);
  background-color: var(--shade2);
  border-right: 3px outset var(--accentColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 1rem 0.5rem;
  z-index: 8;
}

.navbar-header {
  height: 30%;
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-header h3 {
  padding-bottom: 0.5rem;
}

.navbar-header p {
  position: relative;
  padding-bottom: 0.5rem;
  width: 100%;
}

.navbar-header p::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: var(--accentColor);
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.navbar-pages {
  height: 40%;
}

.navbar-pages ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-pages ul li {
  width: 100%;
  border-top: 1px solid var(--shade1);
  height: 7rem;
  display: flex;
}

.navbar-pages ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.navbar-pages ul li a i {
  font-style: normal;
  display: flex;
  align-items: center;
}

.navbar-pages ul li a i svg {
  font-size: 2rem;
  margin-right: 1rem;
}

.navbar-pages ul li:last-of-type {
  border-bottom: 1px solid var(--shade1);
}

.navbar-pages ul .current-page {
  color: var(--accentColor);
}

.navbar-socials {
  color: var(--accentColor);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-socials ul {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
}

.navbar-socials ul li a {
  font-size: 2rem;
}

.navbar-socials ul li a:hover {
  opacity: 0.7;
}

.navbar-socials ul li a:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-socials ul li a:last-of-type span {
  font-size: 0.8rem;
}

.navbar-open {
  transform: translateX(0);
}

#menu-btn {
  position: fixed;
  top: 6rem;
  right: 2.2rem;
  background: transparent;
  border: none;
  width: 25px;
  height: 25px;
  z-index: 9;
}

#menu-btn svg {
  height: 100%;
  width: 100%;
  color: var(--accentColor);
}

@media (min-width: 768px) {
  .container {
    display: flex;
    padding-left: 20rem;
  }
  .navbar {
    transform: none;
  }
  #menu-btn {
    display: none;
  }
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: url("../../assets/images/hero-bg2.jpg") no-repeat center;
  background-size: cover;
}

.about #hero-bg-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  outline: 1px solid #fff;
  outline-offset: -1rem;
}

.about-info {
  color: #eee;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: auto;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.about-info-title {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
}

.about-info-title h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}

.about-info-title div {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.about-info-title div span {
  opacity: 0.8;
  color: var(--accentColor);
}

.about-info-title div p:last-of-type {
  padding: 0.5rem 0 1.5rem 0;
  position: relative;
}

.about-info-title div p:last-of-type::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: var(--accentColor);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 370px;
}

.about-info-title > p:last-child {
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
}

.about-info-body {
  display: none;
}

.about-info-body strong {
  color: var(--accentColor);
}

.about-info-btns {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  max-width: 30rem;
  margin: auto;
}

.about-info-btns a {
  border: 2px solid var(--accentColor);
  padding: 0.7rem 2.5rem;
  border-radius: 20px;
  color: #fff;
  background-color: #0c2745;
}

.about-info-btns a:first-of-type {
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
}

.about-info-btns a:first-of-type svg {
  position: relative;
  top: 2px;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-info {
    width: 90%;
    text-align: left;
    height: 55rem;
  }
  .about-info div p:last-of-type::after {
    width: 80%;
    margin: 0;
  }
  .about-info p:last-child {
    margin: 0;
  }
  .about-info-body {
    display: block;
    padding-bottom: 3rem;
    font-size: 1.4rem;
  }
  .about-info-btns {
    width: 100%;
    justify-content: space-around;
    margin: 0;
  }
}

@media (min-width: 3000px) {
  .about .about-info {
    margin-top: 8rem;
  }
}

.skills-container {
  width: 100%;
  margin: 2rem auto;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 90rem;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 60rem;
  width: 100%;
  height: 90%;
  margin: auto;
}

.skills .skills-list {
  position: relative;
}

.skills .skills-list::before {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--accentColor);
  font-weight: 600;
  font-size: 1.5rem;
}

.skills .skills-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 10rem;
  height: 6rem;
}

.skills .skills-list li img {
  object-fit: contain;
  height: 80%;
  width: 100%;
}

.skills .skills-list li p {
  height: 20%;
}

.skills .skills-list li:not(li:last-child) {
  border-right: 1px dashed var(--shade2);
}

.skills-fundamentals {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.skills-additional {
  width: 75%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.skills-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
}

.skills-learning .skills-inprogress {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.dropdown {
  height: 25%;
  z-index: 5;
  width: 20rem;
  position: relative;
}

.dropdown button {
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--accentColor);
  border: none;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.dropdown button svg {
  margin-left: 10px;
  transition: all 0.3s linear;
}

.panel {
  position: absolute;
  top: 2rem;
  left: -15%;
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  background-color: var(--shade1);
  width: 130%;
  line-height: 1.4;
}

.panel li {
  list-style-type: disc;
  list-style-position: inside;
}

.panel li span {
  position: relative;
  left: -10px;
}

.panel p {
  border-top: 1px solid var(--shade2);
  text-align: center;
}

.panel-open {
  padding: 10px;
  height: 13rem;
  border: 2px solid var(--shade3);
}

.rotate-chevron {
  transform: rotateZ(450deg);
}

@media (min-width: 460px) {
  .skills .skills-list li:not(li:last-child) {
    border-right-width: 0px;
  }
}

@media (min-width: 768px) {
  .skills {
    flex-direction: row;
    align-items: flex-end;
    margin: 2rem auto;
    max-width: 80rem;
  }
  .skills .skills-list {
    flex-direction: column;
    border-left: 3px dotted var(--shade1);
  }
  .skills .skills-list::before {
    top: -3rem;
    left: 1rem;
  }
  .skills .skills-list li {
    flex-direction: row;
    width: 5rem;
  }
  .skills .skills-list li p {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
  }
  .skills-fundamentals {
    height: 90%;
    width: 33%;
    margin: 0;
    align-items: flex-start;
  }
  .skills-additional {
    height: 90%;
    width: 33%;
    margin: 0;
    padding-bottom: 10rem;
    align-items: flex-start;
  }
  .skills-learning {
    height: 90%;
    width: 33%;
    margin: 0;
    position: relative;
  }
  .skills-learning .skills-inprogress {
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: flex-start;
  }
  .dropdown {
    position: absolute;
    bottom: -10rem;
    left: -3rem;
  }
  .panel {
    right: 0;
    left: auto;
  }
}

.projects {
  border: 1px solid red;
  max-width: 90rem;
  margin: 2rem auto;
}

.projects header {
  margin-bottom: 2rem;
}

.projects-container {
  max-width: 60rem;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;
  height: 100%;
  border: 1px solid red;
}

.projects-container article {
  width: 90%;
  margin: auto;
  max-width: 30rem;
  height: 30%;
  max-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
}

.projects-container article figure {
  height: 80%;
  border-radius: inherit;
}

.projects-container article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.projects-container article div {
  border: 1px solid var(--accentColor);
  background-color: var(--shade1);
  border-top: 3px solid var(--accentColor);
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.projects-container article div h4 {
  align-self: flex-end;
  padding: 0 0 2px 2px;
}

.projects-container article div button {
  border: none;
  background-color: var(--accentColor);
  width: 35%;
  font-weight: 600;
  color: var(--bgColor);
}

@media (min-width: 768px) {
  .projects-container {
    max-width: 70rem;
  }
}

.contact {
  height: 40rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 80%, var(--accentColor) 100%);
}

.contact header {
  height: 20%;
  max-width: 90rem;
  margin: auto;
  width: 100%;
}

.contact main {
  max-width: 80rem;
  margin: auto;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact main article {
  margin-bottom: 4rem;
}

.contact main article a {
  width: 100%;
  max-width: 30rem;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact main article a:hover {
  opacity: 0.8;
}

.contact main article a::before {
  content: "";
  background-color: var(--shade3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3rem;
  margin: auto;
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
  border-radius: 50%;
}

.contact main article a svg {
  font-size: 2rem;
  color: var(--accentColor);
}

.contact main article a p {
  margin-top: 1rem;
}

#frameByFrameImg {
  display: none;
  position: absolute;
  top: 3rem;
  right: 1rem;
  width: 13rem;
  height: 12rem;
}

#frameByFrameImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: 5px solid var(--accentColor);
  outline-offset: -3px;
}

@media (min-width: 768px) {
  #frameByFrameImg {
    display: block;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 24px;
  }
}
